.chatList {
    flex: 0.3;
    max-height: 100%;
    overflow-y: scroll;
    background-color: #b19cd9;
    background-color: #a020f0;
    color: aliceblue;
}
.chatList-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70%;
    margin: 10px auto;
}
.chatList-search > input {
    width: 100%;
    height: 25px;
    border-radius: 15px;
    padding: 5px 10px;
    outline: none;
}
#searchIcon {
    position: absolute;
    right: 10px;
    color: #a020f0;
}

.chatList-contact > img {
    width: 80px;
    padding-right: 20px;
}
.chatList-contact , .chatList-searchList{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 70%;
    margin: 15px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.chatList-searchList {
    color: red;
}
.chatList-searchList > img {
    padding-right: 20px;
    width: 80px;
}
